# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# RStudio files
*.Rproj
.Rproj.user/

################################################################################
# Additional Mazama Science items

# OS X stuff
.DS_Store
.AppleDouble
.LSOverride

